*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.all{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 600px;
    background-color: aquamarine;
}

.add{
    transform: rotate(360deg);
    opacity: 1;
    transition: 6s;
}
.a{
    position: absolute;
    opacity: 0.5;
 
}
button{
    background-color: gray;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}
.car{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}
.red{
    height: 30vh;
    width: 100%;
    background-color: red;
}
.green{
    height: 30vh;
    width: 100%;
    background-color: green;
  
}.blue{
    height: 30vh;
    width: 100%;
    background-color: blue;
}
